<!DOCTYPE html>
  <!-- f0k u doctype >:] -->
  <head>
    <title>31337</title>
  </head>
  <body>
    <h1>leet da!</h1>
    <form action="leet_submit" method="get" accept-charset="utf-8">
      <label for="enta_ze_phraze">enta ze phraze</label>
      <input type="text" name="enta_ze_phraze" value="" id="enta_ze_phraze">
      <p><input type="submit" value="Continue &rarr;"></p>
    </form>
  </body>
</html>
