<!DOCTYPE html>
  <!-- f0k u doctype >:] -->
  <head>
    <title>31337</title>
  </head>
  <body>
    <h1>leet da!</h1>
    <p> <%= params[:enta_ze_phraze] %>[leet] &rarr; <%= @leet_submit %></p>
    <p> <%= params[:enta_ze_phraze] %>[noob] &rarr; <%= @noob_submit %></p>
    <!-- Yandex.Metrika -->
    <div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter1999477 = new Ya.Metrika(1999477);
                 yaCounter1999477.clickmap(true);
                 yaCounter1999477.trackLinks(true);

            } catch(e) {}
        });
    })(window, 'yandex_metrika_callbacks');
    </script></div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/1999477" alt="" /></div></noscript>
    <!-- /Yandex.Metrika -->
  </body>
</html>
