<!DOCTYPE html>
  <!-- f0k u doctype >:] -->
  <head>
    <title>31337</title>
  </head>
  <body>
    <h1>leet da!</h1>
    <p> <%= params[:enta_ze_phraze] %> &rarr; <%= @leet_submit %></p>
  </body>
</html>
